body {
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
}

.App {
  max-height: 100vh;
  overflow: auto;
}

/* Override ant design's style */
label {
  color: #89888b;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 12px;
}

.ant-input,
.ant-input-outlined {
  background-color: transparent;
  border: 1px solid #3a3841;
  height: 44px;
  border-radius: 4px;
  align-items: center;
}

.ant-input-affix-wrapper .ant-input-prefix {
  margin-right: 8px;
}

.ant-input-affix-wrapper .ant-input-prefix svg {
  font-size: 16px;
}

.ant-input::placeholder {
  color: #89888b;
}

.ant-input:hover,
.ant-input-outlined:hover,
.ant-input-outlined:focus-within {
  background-color: transparent;
  border-color: #da458f;
}
.ant-input:focus-within {
  background-color: transparent;
  border-color: #da458f;
  /* border: 1px solid #3a3841;/ */
}

.ant-select-dropdown {
  background-color: #090a17;
  border: 1px solid #3a3841;
}

.ant-select-item-option.ant-select-item-option-selected {
  background-color: #3a3841 !important;
}

.ant-select:focus-within .ant-select-selector,
.ant-select:hover .ant-select-selector {
  border-color: #da458f !important;
}

.ant-select-item-option:hover {
  background-color: #3a3841 !important;
}

.ant-select-open .ant-select-selection-item {
  color: rgba(255, 255, 255, 0.6) !important;
}

.ant-slider .ant-slider-rail,
.ant-slider .ant-slider-rail:hover,
.ant-slider:hover .ant-slider-rail {
  background-color: #3a3841;
  height: 8px;
}

.ant-slider:hover .ant-slider-track,
.ant-slider .ant-slider-track {
  background: linear-gradient(
    91.27deg,
    rgba(218, 69, 143, 0) 0.55%,
    #da41a2 24.03%,
    #da37ce 83.19%,
    rgba(218, 52, 221, 0) 102.8%
  );
  height: 8px;
}

.ant-slider .ant-slider-handle {
  width: 16px;
  height: 16px;
}

.ant-slider .ant-slider-handle::after {
  background-color: #da41a2;
}

.ant-tooltip .ant-tooltip-inner {
  background: linear-gradient(91.47deg, #da458f -6%, #da34dd 113.05%);
}

.ant-tooltip .ant-tooltip-arrow:before {
  background: linear-gradient(91.47deg, #da458f -6%, #da34dd 113.05%);
}

.ant-tooltip-arrow {
  bottom: 1px !important;
}

.ant-dropdown .ant-dropdown-menu {
  background-color: #090a17;
}
.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item:hover:hover {
  background-color: #3a3841 !important;
}

.ant-drawer .ant-drawer-content {
  background-color: #090a17;
}

.ant-drawer .ant-drawer-close {
  color: white;
}
